# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual Environment
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.json
*.log

# System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# Packages
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.coverage

# Temporary files
*.tmp
*.temp
